.InfoBox {
    border: 1px black solid;
    padding: 0.5em;
    position: absolute;
    /* top: 0; */
    bottom: 0;
}

.data {
    display: flex;
    flex-direction: row;
}

.labels {
    text-align: left;
}
.values {
    padding-left: 0.5em;
    text-align: left;
}
