.radiusSelector{
    width: min(70%, 30rem);
    position: absolute;
    bottom: 10rem;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    z-index: 1;
    background-color: rgba(200,200,200,0.7);
}


.label{
    color: white;
}

