.infoBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    border: 1px black solid;
    background-color: var(--color-postman-trousers);
    position: absolute;
    bottom: 0;
    color: #ffffff;
    font-family: 'Comfortaa';
    top: 80%;
    width: 90%;
    height: 75%;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    transition: 0.3s;
    z-index: 3;
    padding: 1.5%;
}
.expandedInfoBox {
    top: 25vh;
}

.desktopInfoBox {
    position: relative;
    align-self: flex-start;
    top: 0;
    right: none;
    left: none;
    height: 100%;
    width: 97%;
    padding: 1.5%;
}


.preview {
    display: grid;
    grid-template-columns: 9fr 2fr 9fr;
    width: 100%;
}
.data {
    display: flex;
    flex-direction: row;
}

.labels {
    text-align: left;
}
.values {
    align-self: flex-start;
    text-align: left;
}

.contactDetails {
    margin-top: 1.5rem;
    align-self: flex-start;
    text-align: left;
}

.features {
    margin: 0 auto;
    text-align: left;
}

.hiddenText {
    opacity: 0;
    transition: 0.3s;
}
.expandedText {
    opacity: 1;
    width:100%;
}

.logoMobile {
    justify-self: flex-end;
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
    width: min(10%, 300px);
}

.descriptionContainer {
    padding: 1rem;
    background-color: var(--color-postman-trousers-dark);
}

.wantedItems {
    padding: 1rem;
}

.openingHours {
    width:100%
}
